# IntelliJ project files
.idea
*.iml
out
gen

# System files
.DS_Store

# Gradle work directory
.gradle

# Build output directies
/target
*/target
*/**/target
/build
*/build

# Eclipse specific files/directories
.classpath
.project
.settings
.metadata
bin

# Client files
/node_modules
/npm-debug.log